<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Paramétres Profile</nb-card-header>
        <nb-card-body>
          <div class="full-name-inputs">
            <div class="form-group">
              <label for="exampleInputNom" class="label">Nom</label>
              <input type="text" nbInput fullWidth id="Nom" 
              [(ngModel)]="user.nom"
              #nom="ngModel"
              name="nom"
              [status]="nom.dirty ? (nom.invalid  ? 'warning' : 'warning') : 'warning'"
              placeholder="Nom" disabled/>
            </div>
            <div class="form-group">
              <label for="exampleInputPrénom" class="label">Prénom</label>
              <input type="text" nbInput fullWidth id="Prénom"
              [(ngModel)]="user.prenom"
              #prenom="ngModel"
              name="prenom"
              placeholder="Prénom" disabled/>
            </div>
          </div>
          <div class="form-group">
              <label for="exampleInputMatricule" class="label">Matricule</label>
              <input type="number" nbInput [(ngModel)]="user.matricule" 
              #matricule="ngModel"
              name="matricule"
              fullWidth id="Matricule" placeholder="Matricule" disabled/>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail" class="label">Email</label>
              <input type="email" nbInput fullWidth [(ngModel)]="user.email" 
              #email="ngModel"
              name="email"
              id="Email" placeholder="Email" disabled/>
            </div>
  
            <div class="form-group">
              <label for="exampleInputUsername" class="label">Username</label>
              <input type="text" nbInput fullWidth [(ngModel)]="user.username"
              #username="ngModel"
              name="username"
              id="username" placeholder="Username" disabled/>
            </div>
  
            <div class="form-group">
              <label for="Status" class="label">Status</label>
              <input type="text" nbInput fullWidth id="Status" [(ngModel)]="user.status"
              #status="ngModel"
              name="status"
              placeholder="Status" disabled/>
            </div>
  
         
        </nb-card-body>
      </nb-card>
    </div>
  
   
  </div>
  