<h1 id="title" class="title"><img [src]="imageSrc" width='300px' /></h1>
<h1 id="title" class="title">Forgot your password?</h1>
<p class="sub-title">Write your email to get your password</p>


<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="primary" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form  #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
 
    <input nbInput
           fullWidth
           [(ngModel)]="user.username"
           #username="ngModel"
           name="username"
           id="username"
           pattern=".+@.+\..+"
           placeholder="Email Address"
           fieldSize="large"
           autofocus
           [status]="username.dirty ? (username.invalid  ? 'danger' : 'primary') : 'primary'"
           [required]="getConfigValue('forms.validation.username.required')"
           [attr.aria-invalid]="username.invalid && username.touched ? true : null">
           <ng-container *ngIf="username.invalid && username.touched">
            <p class="error-message" *ngIf="username.errors?.required">
              Email is required
            </p>
            <p class="caption status-danger" *ngIf="username.errors?.pattern">
              Email should be the real one!
            </p>
          
          </ng-container>

  </div>

  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
    Confirmer
  </button>
</form>


